* {
	/*resets the default margin and padding values of all HTML elements*/
	margin: 0;
	padding: 0;

	/*resets the box model to border-box for all HTML elements.*/
	box-sizing: border-box;
}

.Block1 h1 {
	color: white;
	font-size: 50px;
	font-weight: 600;
	font-family: "Times New Roman";
	padding: 20px;
	text-align: center;
	vertical-align: middle;
}

.Block1 p {
	padding: 50px;
}

.Block2 {
	padding-bottom: 50px;
}

.Block2 h1 {
	color: white;
	font-size: 50px;
	font-weight: 600;
	font-family: "Times New Roman";
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: navy;
}

.Block2 img {
	height: 400px;
	width: 400px;
	background-color: black;
	border: 0.25vw solid black;
}

.Block2 ul{
	list-style: none;
	display: block;
	text-align: center;
}

.Block2 li {
	display: inline-block;
	text-align: center;
	float: center;
	height: 45vh;
	width: 45vh;
	margin: 50px 50px;
}
